@import "tailwindcss";

@import "@nuxt/ui";
html {
  scroll-behavior: smooth;
  background: #f1f6f9;
}

.bg-gradient {
  background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px),
    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 40px 40px;
}

section,
footer,
nav {
  padding: 50px 32px;
  width: 100%;
  max-width: 1344px;
  margin: 0 auto;
  scroll-margin-top: 50px;
  /* border: 1px black solid;
  box-sizing: border-box; */
}

@media screen and (max-width: 1024px) {
  section,
  footer,
  nav {
    padding: 50px 12px;
    scroll-margin-top: 50px;
  }
}
